:root {
    --lighter-color: #00cc88;
    --wa-state-green: #008457;
    --wa-state-black: #000000;
    --wa-state-yellow: #FFD520;
    --wa-state-blue: #34C2DE;
    --wa-state-pink: #FDD6C6;
    --wa-state-white: #FFFFFF;
}

body {
    background-color: var(--wa-state-black);
    margin: 0;
}

#navbar {
    font-family: sans-serif;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
}

#navbar a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.initial-nav {
    background-color: var(--lighter-color);
}

.sticky {
    background-color: var(--wa-state-green);
}

#navbar-spacing {
    height: 70px;
}

.title-text {
    color: white;
    font-family: sans-serif;
    font-weight: normal;
    margin-left: 30px;
    margin-bottom: 30px;
}

#state-choropleth {
    width: 75%;
    margin: 30px;
    max-width: 1000px;
}

.body-text {
    color: white;
    font-family: sans-serif;
    font-size: clamp(13px, 2vw, 18px);
    margin-left: 30px;
    margin-right: 30px;
}